@import "./base";
@import "./responsive";
.menuList {
  background: #21145f;

  border-radius: 7px;
  li {
    font-size: 12px;
    padding: 10px 14px;
    cursor: pointer;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
#simple-popper {
  z-index: 9999;
}
// input:-webkit-autofill {
//     // -webkit-text-fill-color: yellow !important;
//     -webkit-background-clip: text !important;
//     -webkit-text-fill-color: transparent !important;
//   }
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
